body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 10vh;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 10vh;
}

.header a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}