body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 10vh;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 10vh;
}

.header a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10vh;
    color: #f9faf8;
}

.hero .img {
    width: 50%;
    background-color: grey;
}

.left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 50%;
}

.left .title {
    font-size: 48px;
    width: 900;
}

.left p {
    font-size: 18px;
    color: #e5e7eb;
}

#button-1 {
    background-color: #3882f6;
    color: #f9faf8;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: 10vh;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.random-information .title {
    font-size: 36px;
    color: #1f2937;
    width: 900;
}

.random-information .card-section {
    display: flex;
    gap: 20px;
}

.card-section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.card .img {
    width: 100px;
    height: 100px;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.card .text-card {
    font-size: 18px;
    color: grey;
}